EXT_PACKAGES_NAME[1]="luci-app-webadmin"
EXT_PACKAGES_PATH[1]="applications/luci-app-webadmin"
EXT_PACKAGES_REPOSITORIE[1]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[1]=""
EXT_PACKAGES_NAME[2]="ipv6-helper"
EXT_PACKAGES_PATH[2]="package/lean/ipv6-helper"
EXT_PACKAGES_REPOSITORIE[2]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[2]=""
EXT_PACKAGES_NAME[3]="ddns-scripts_aliyun"
EXT_PACKAGES_PATH[3]="package/lean/ddns-scripts_aliyun"
EXT_PACKAGES_REPOSITORIE[3]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[3]=""
EXT_PACKAGES_NAME[4]="ddns-scripts_dnspod"
EXT_PACKAGES_PATH[4]="package/lean/ddns-scripts_dnspod"
EXT_PACKAGES_REPOSITORIE[4]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[4]=""
EXT_PACKAGES_NAME[5]="r8168"
EXT_PACKAGES_PATH[5]="package/lean/r8168"
EXT_PACKAGES_REPOSITORIE[5]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[5]=""
EXT_PACKAGES_NAME[6]="r8152"
EXT_PACKAGES_PATH[6]="package/lean/r8152"
EXT_PACKAGES_REPOSITORIE[6]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[6]=""
EXT_PACKAGES_NAME[7]="shortcut-fe"
EXT_PACKAGES_PATH[7]="shortcut-fe"
EXT_PACKAGES_REPOSITORIE[7]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[7]="package"
EXT_PACKAGES_NAME[8]="nft-fullcone"
EXT_PACKAGES_PATH[8]=""
EXT_PACKAGES_REPOSITORIE[8]="https://github.com/fullcone-nat-nftables/nft-fullcone"
EXT_PACKAGES_BRANCH[8]=""
EXT_PACKAGES_NAME[9]="luci-app-turboacc"
EXT_PACKAGES_PATH[9]="luci-app-turboacc"
EXT_PACKAGES_REPOSITORIE[9]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[9]=""
EXT_PACKAGES_NAME[10]="luci-app-argon-config"
EXT_PACKAGES_PATH[10]=""
EXT_PACKAGES_REPOSITORIE[10]="https://github.com/jerrykuku/luci-app-argon-config"
EXT_PACKAGES_BRANCH[10]=""
EXT_PACKAGES_NAME[11]="luci-app-diskman"
EXT_PACKAGES_PATH[11]="applications/luci-app-diskman"
EXT_PACKAGES_REPOSITORIE[11]="https://github.com/lisaac/luci-app-diskman"
EXT_PACKAGES_BRANCH[11]=""
EXT_PACKAGES_NAME[12]="luci-app-netspeedtest"
EXT_PACKAGES_PATH[12]=""
EXT_PACKAGES_REPOSITORIE[12]="https://github.com/sirpdboy/NetSpeedTest"
EXT_PACKAGES_BRANCH[12]=""
EXT_PACKAGES_NAME[13]="luci-theme-argon"
EXT_PACKAGES_PATH[13]=""
EXT_PACKAGES_REPOSITORIE[13]="https://github.com/jerrykuku/luci-theme-argon"
EXT_PACKAGES_BRANCH[13]=""
EXT_PACKAGES_NAME[14]="luci-app-socat"
EXT_PACKAGES_PATH[14]="luci-app-socat"
EXT_PACKAGES_REPOSITORIE[14]="https://github.com/chenmozhijin/luci-app-socat"
EXT_PACKAGES_BRANCH[14]=""
EXT_PACKAGES_NAME[15]="r8125"
EXT_PACKAGES_PATH[15]=""
EXT_PACKAGES_REPOSITORIE[15]="https://github.com/sbwml/package_kernel_r8125"
EXT_PACKAGES_BRANCH[15]=""
EXT_PACKAGES_NAME[16]="ipip6"
EXT_PACKAGES_PATH[16]=""
EXT_PACKAGES_REPOSITORIE[16]="https://github.com/missing233/openwrt-ipip6"
EXT_PACKAGES_BRANCH[16]=""
