#
# Network
#
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_wget-ssl=y
# end of File Transfer
#
# Firewall
#
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_miniupnpd-nftables=y
CONFIG_PACKAGE_xtables-nft=y
# end of Firewall
#
# IP Addresses and Names
#
CONFIG_PACKAGE_avahi-dbus-daemon=y
CONFIG_PACKAGE_ddns-scripts=y
CONFIG_PACKAGE_ddns-scripts-cloudflare=y
CONFIG_PACKAGE_ddns-scripts-dnspod=y
CONFIG_PACKAGE_ddns-scripts-services=y
CONFIG_PACKAGE_ddns-scripts_aliyun=y
# end of IP Addresses and Names
#
#
# Routing and Redirection
#
CONFIG_PACKAGE_ip-full=y
# end of Routing and Redirection
#
#
# Web Servers/Proxies
#
CONFIG_PACKAGE_brook=y
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_haproxy=y
CONFIG_PACKAGE_homebox=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
# end of Web Servers/Proxies
#
CONFIG_PACKAGE_6rd=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_6to4=y
CONFIG_PACKAGE_map=y
CONFIG_PACKAGE_ds-lite=y
#CONFIG_PACKAGE_ipip6=y
CONFIG_PACKAGE_chat=y
CONFIG_PACKAGE_etherwake=y
CONFIG_PACKAGE_ethtool-full=y
CONFIG_PACKAGE_hysteria=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_iputils-arping=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_libipset=y
CONFIG_PACKAGE_openvswitch=y
#
CONFIG_PACKAGE_netperf=y
CONFIG_PACKAGE_proto-bonding=y
CONFIG_PACKAGE_socat=y
CONFIG_SOCAT_SSL=y
CONFIG_PACKAGE_tcping=y
# end of Network
